.homepage-container{
min-width:600px;
}
/* nav bar */
.span {
    color: var(--main-Cta-color);
}
.search-bar input {
    width: 15rem;
    height: 2.5rem;
    border: 2px solid var(--primary-pink-color);
    border-radius: var(--border-radius);
}

.span-color {
    color: var(--primary-pink-color);
}
.nav-link-container a {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-secondry);
    font-size:var(--size-0)
}
.nav-link-container a:hover {
    color: var(--primary-pink-color);
}

.right-links ul {
    display: flex;
}

.right-links li {
    list-style: none;
}

.right-links li a {
    font-size: var(--size-0);
    color: var(--text-secondary);
    display: block;
    text-decoration: none;
}

.right-links li a:hover {
    opacity: 2;
    color: var(--primary-pink-color);
}

/* hero-section */
.img-hero {
    width: 100%;
    /* max-width: 100%; */
    position: relative;
    text-align: center;
}

.overlay-text {
    position: absolute;
    top: 9rem;
    left: 5rem;
    width:50%;
    font-size: 4vw;
}

.hero-btn {
    background-color: var(--primary-pink-color);
    border-radius: var(--border-radius);   
}
.hero-btn a{
    color:var(--white-color);
    font-size:var(--size-0)
   
}
.hero-btn:hover {
    background-color: var(--secondry-pink-color);
    color: var(--secondry-color);
}

/* card categories */
.category {
    text-align: center;
}

.category p {
    font-size: var(--size-1);
}

.card-categories {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    width:100%; 
}
.cards {
    text-align: center;
    cursor: pointer;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-self: baseline;
    width: 10rem;
    border: 2px solid var(--secondry-color);
}
.main-categories {
    width: 25rem;
}

.main-categories:hover,
.blog-categories:hover {
    border: 2px inset var(--secondry-pink-color);
    border-radius: 0%;
    box-shadow: 0 4px 8px 0 var(--border-color);
}

.blog-categories {
    width: 17rem;
    height: 14rem;
}

.blog-created,
.date {
    color: var(--black-color);
    text-align: left;
}

.card-image {
    width: 100%;
}

.cards:hover {
    box-shadow: 0 1px 2px 0 var(--border-color);
}

.card-heading {
    text-decoration: none;
    color: var(--black-color);
    font-weight: var(--font-light);
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

/* footer */
.footer-container {
    color: var(--secondry-color);
    background-color: var(--footer-color);
    width: 100%;
}
.container-footer {
    display: flex;
    justify-content: space-between;
}
.footer-container ul {
    padding: 0;
    list-style: none;
    line-height: 1.5;
    font-size: var(--size-1);
}

.footer-container ul a {
    color: var(--secondry-color);
    text-decoration: none;
    font-weight: var(--font-light);
    font-size: var(--size-0);
    opacity: 0.5;
}

.footer-container ul a:hover {
    opacity: 1;
    color: var(--primary-pink-color)
}
.filter-btn{
    font-size:var(--size-0);

}
.filter-btn:hover{
    color:var(--primary-pink-color)
}
