.products-page {
    display: flex; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    /* height:100%; */
}

.products-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.filter-topic {
    display: flex;
    justify-content: space-between;
}

.card-product {
    box-shadow: 0px 2px 8px 0px var(--grey-color);
    text-align: left;
    cursor: pointer;
    width: 30%;
    max-width: 100%;
    background-color: var(--secondary-color);
    flex-shrink: 0;
}

.image-product {
   width: 100%;
}

.product-title {
    font-size: var(--size-0);
    width:100%;
    font-weight:var(--font-dark)
}
.btn-product {
    border: none;
    border-radius: var(--border-radius-5);
    cursor: pointer;
    background-color:var(--primary-pink-color);
    text-decoration: none;
    font-size: var(--size-0);
    font-weight: var(--font-dark);
    color: var(--black-color);
    width:100%;
}
.secondary-pro{
    background-color:var(--secondry-pink-color);
}
